
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8fafc;
    color: #374151;
    text-align: center;
}

h1 {
    color: #1e3a8a;
    margin-top: 30px;
    font-size: 28px;
}


hr {
    width: 100%;
    border: 1px solid #1e3a8a;
    margin: 20px auto;
}


nav {
    margin: 15px 0;
}

nav a {
    text-decoration: none;
    color: #1e3a8a;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: #2563eb;
}

h2 {
    color: #1e3a8a;
    margin-top: 40px;
    font-size: 26px;
}


h3 {
    margin: 5px 0;
    color: #1e3a8a;
}

p {
    width: 70%;
    margin: 10px auto;
    line-height: 1.6;
    font-size: 15px;
}


.home-content {
    background-color: #ffffff;
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* ==============================
   MENU
============================== */
.menu {
    margin: 15px auto;
}

.menu td {
    padding: 5px 8px;
}

.menu a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

.menu a:hover {
    color: #003366;
}

/* ==============================
   TABEL
============================== */
table {
    margin: 15px auto;
    border-collapse: collapse;
    background-color: #fff;
}

table th,
table td {
    border: 1px solid #999;
    padding: 8px 12px;
    text-align: center; /* ISI TABEL TENGAH */
}

table th {
    background-color: #0066cc;
    color: #fff;
}

/* ==============================
   BIODATA
============================== */
.biodata {
    width: 70%;
    color: #1e3a8a
}

.biodata td {
    text-align: left;
    border: none;
}

/* ==============================
   FORM
============================== */
form {
    width: 300px;
    margin: 20px auto;
}

input,
textarea {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    text-align: center;
}

input[type="submit"] {
    margin-top: 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px;
}

input[type="submit"]:hover {
    background-color: #003366;
}

/* ==============================
   MEDIA
============================== */
video,
audio,
img,
iframe {
    display: block;
    margin: 10px auto;
}

img {
    max-width: 100%;
}

/* ==============================
   LIST
============================== */
ul {
    list-style-position: none;
    margin: 10px auto;
}

ul li {
    margin-bottom: 6px;
}

/* ==============================
   SOSMED
============================== */
.sosmed {
    margin: 10px auto;
}

.sosmed a {
    text-decoration: none;
    color: #0066cc;
}

.sosmed a:hover {
    color: #003366;
}

